<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                Submission
            </h5>
            <div class="card-body">
                <p class="card-text">Thanks for your submission. The response from the server is as follows:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!TODO Step 4. Populate the TBody with the information in the entries object (from step 2).}}
                        {{#each entries}} <tr>
                            <td>
                                {{@key}}
                            </td>
                            <td>
                                {{this}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>